<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.pinwheel.demo4agility">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="org.pinwheel.demo4agility.App"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name="org.pinwheel.demo4agility.activity.LauncherActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.DragViewActivity"
            android:label="拖动刷新系列控件 (List,Grid,Scroll)" />
        <activity
            android:name="org.pinwheel.demo4agility.activity.RefreshListActivity"
            android:label="下拉刷新" />
        <activity
            android:name="org.pinwheel.demo4agility.activity.CacheActivity"
            android:label="图片缓存 ImageLoader" />
        <activity
            android:name="org.pinwheel.demo4agility.activity.CycleGalleryActivity"
            android:label="SweetCircularView＋支持嵌套事件 (ListView, ScrollView...)" />
        <activity
            android:name="org.pinwheel.demo4agility.activity.TabActivity"
            android:label="TabController嵌套" />
        <activity
            android:name="org.pinwheel.demo4agility.activity.HttpClientAgentActivity"
            android:label="HttpClientAgent (OkHttp, Volley, HttpConnection)" />
        <activity
            android:name="org.pinwheel.demo4agility.activity.InternalListActivity"
            android:label="ScrollView 嵌套 ListView" />
        <activity
            android:name="org.pinwheel.demo4agility.activity.BouncyEditAndTextActivity"
            android:configChanges="orientation|keyboard"
            android:label="弹性Edit ＋ 放缩Text" />
        <activity
            android:name="org.pinwheel.demo4agility.activity.FieldActivity"
            android:label="反射 + 注入" />
        <activity
            android:name="org.pinwheel.demo4agility.activity.Json2ClassActivity"
            android:label="Json反射生成Class Json2Class" />
    </application>
</manifest>
