<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.pinwheel.demo4agility">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="org.pinwheel.demo4agility.App"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name="org.pinwheel.demo4agility.activity.LauncherActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.pinwheel.demo4agility.activity.DownLoadActivity"
            android:label="RequestManager(下载文件,图片);\n缓存,缩略图" />
        <activity
            android:name="org.pinwheel.demo4agility.activity.RequestActivity"
            android:label="RequestManager请求测试" />
        <activity
            android:name="org.pinwheel.demo4agility.activity.OverListActivity"
            android:label="回弹List" />
        <activity
            android:name="org.pinwheel.demo4agility.activity.OverGridActivity"
            android:label="回弹Grid" />
        <activity
            android:name="org.pinwheel.demo4agility.activity.OverScrollActivity"
            android:label="回弹Scroll" />
        <activity
            android:name="org.pinwheel.demo4agility.activity.RefreshListActivity"
            android:label="下拉刷新" />
        <activity
            android:name="org.pinwheel.demo4agility.activity.TabActivity"
            android:label="TabController嵌套" />
        <activity
            android:name="org.pinwheel.demo4agility.activity.HttpClientAgentActivity"
            android:label="HttpClientAgent\n(OkHttp, Volley, HttpConnection)" />
        <activity
            android:name="org.pinwheel.demo4agility.activity.DialogActivity"
            android:label="SweetDialog" />
        <activity
            android:name="org.pinwheel.demo4agility.activity.HeaderGridViewActivity"
            android:label="带Header的Grid" />
        <activity
            android:name="org.pinwheel.demo4agility.activity.CustomViewActivity"
            android:label="自定义点击区域响应" />
        <activity
            android:name="org.pinwheel.demo4agility.activity.EventBusActivity"
            android:label="EventBus总线解偶" />
        <activity
            android:name="org.pinwheel.demo4agility.activity.ServerAPITestActivity"
            android:label="ECMobile server API Test" />
        <!--<activity-->
        <!--android:name=".activity.LiteSuitActivity"-->
        <!--android:label="LiteUtils Http + Common + ORM" />-->
        <activity
            android:name="org.pinwheel.demo4agility.activity.InternalListActivity"
            android:label="ScrollView 嵌套 ListView" />
        <activity
            android:name="org.pinwheel.demo4agility.activity.BouncyEditAndTextActivity"
            android:configChanges="orientation|keyboard"
            android:label="弹性Edit ＋ 放缩Text" />
        <activity
            android:name="org.pinwheel.demo4agility.activity.FieldActivity"
            android:label="反射 + 注入" />
        <activity
            android:name="org.pinwheel.demo4agility.activity.CycleGalleryActivity"
            android:label="SweetCircularView＋支持嵌套事件\n(ListView, ScrollView...)" />
        <activity
            android:name="org.pinwheel.demo4agility.activity.Json2ClassActivity"
            android:label="测试 Json2Class" />
        <activity
            android:name="org.pinwheel.demo4agility.activity.CacheActivity"
            android:label="图片缓存 ImageLoader" />
    </application>
</manifest>
